header {
  top: 0;
  left: 0;
  width: 100px;
  position: fixed;
  color: MediumAquamarine;
}

nav {
  display: flex;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
}

nav span {
  display: inline-block;
}
